*{
    text-align: center;
}
body{
    width: 100%;
}
h1{
    font-size: 60px;
    text-align: center;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 25px;
}
p{
    font-size: 20px;
}
b{
    font-size: 20px;
}
#logo1{
    border-radius: 50px;
}
#logo2{
    border-radius: 50px;
}
#cabecera{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    border: rgb(5, 33, 124) solid 5px;
    margin: 10px;
    background-color: rgb(253, 253, 193);
}
#cuerpo{
    border: rgb(5, 33, 124) solid 5px;
    margin: 15px;
    background: rgb(253, 253, 193);
}
#pie{
    border: rgb(5, 33, 124) solid 5px;
    margin: 15px;
    background: rgb(253, 253, 193);
}
input{
    background: rgb(253, 253, 193);
}
#bloque{
    border: rgb(5, 33, 124) solid 5px;
    margin: 15px;
    padding: 20px;
    background: rgb(253, 253, 193);
}
img{
    width: 1000px;
}
p{
    font-size: 25px;
}
/* #procesar{
    background-color:;
} */
.puntuacion{
    width: 50px;
    padding: 5px;
}